PORT=3000
NODE_ENV=development
SESSION_SECRET=ganti_dengan_string_panjang_random
AES_256_GCM_KEY=ganti_dengan_secret_32_byte_base64_atau_64_hex
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE
SEED_DEMO_USERS=true
ARGON2_MEMORY_COST=65536
ARGON2_TIME_COST=3
ARGON2_PARALLELISM=1
PASSWORD_MIN_LENGTH=10
VAULT_FILE=secrets/vault.json
